*.swp
*.swo
__pycache__
datasets/tinyimagenet/*
datasets/tiny-imagenet-200.zip
/logs/tin_A100/*.tar
possibly_useful_logs/*
scripts/slurm*
/logs/tin-test/*.tar
/pretrained_models/
logs/tin_A100/*.tar
logs/tin_A100_ep500/*.tar
datasets/intel-image-classification.zip
datasets/intel-image-classification/*
logs/iic-test/*.tar
datasets/birds/*
logs/birds/*.tar
logs/birds_A100/*.tar
logs/iic-train-old/*.tar
logs/iic-train-500eps/*.tar
logs/iic-train-500eps-plus-500eps/*.tar
logs/iic-train-500eps-BAKCKUP/*.tar
logs/iic-train-500eps-BACKUP/*.tar

logs/iic-train-double/*.tar

logs/iic-train-small/*.tar
logs/iic-train-tiny/*.tar
logs/iic-train-1000eps/*.tar
classifiers/*.tar
logs/iic-train-ema09/*.tar
logs/iic-train-ema085/*.tar
pretrained_models/*.tar