*.swp
*.swo
__pycache__
datasets/tinyimagenet/*
datasets/tiny-imagenet-200.zip
datasets/cifar-10-batches-py/*
datasets/cifar-10-python.tar.gz
possibly_useful_logs/*
scripts/slurm*
/logs/tin_A100/*.tar
/logs/tin-test/*.tar
/pretrained_models/
logs/tin_A100/*.tar
logs/tin_A100_ep500/*.tar
datasets/intel-image-classification.zip
datasets/intel-image-classification/*
logs/iic-test/*.tar
datasets/birds/*
datasets/stl10/

datasets/imagenet100
datasets/imagenet100/
logs/birds/*.tar
logs/birds_A100/*.tar
logs/iic-train-old/*.tar
logs/iic-train-500eps/*.tar
logs/iic-train-500eps-plus-500eps/*.tar
logs/iic-train-500eps-BAKCKUP/*.tar
logs/iic-train-500eps-BACKUP/*.tar

logs/iic-train-double/*.tar
logs/iic-train-cosine/*.tar
logs/iic-train-cosine-OLD/*.tar
logs/iic-train-PKT/*.tar

logs/in100/*.tar


logs/iic-train-small/*.tar
logs/iic-train-tiny/*.tar
logs/iic-train-1000eps/*.tar
classifiers/*.tar
logs/iic-train-ema09/*.tar
logs/iic-train-ema085/*.tar
pretrained_models/*.tar

logs/in100/classifiers/*.tar

logs/iic-train-proper/*.tar
logs/iic-train-proper-500/*.tar



**/logs_PKT/**/*.tar
**/logs_PKT/**/*.pt
**/logs_PKT_full/**/*.tar
**/logs_PKT_chunks/**/*.tar
logs_PKT_cross/**/*.pth.tar
logs/in100/classifiers/*.tar
logs_PKT_scheduled/**/*.pth.tar
logs_STL/**/*.tar
logs/in100/*.tar

logs*/**/*.pth.tar